services:
  db:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: employee_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
